.app {
  position: relative;
  min-height: calc(100vh - 50px);
  padding-bottom: 100px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  position: relative;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-image: url("./assets/images/dogandcat.jpg");
}

.jumbotron-content {
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-container {
  max-width: 900px;
  border: 2px solid #eee;
  margin: 50px auto;
  padding: 1rem;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .custom-container {
    padding: 3rem !important;
  }
}

.dropdown-menu[data-bs-popper] {
  left: auto !important;
  right: 0 !important;
}

.app {
  background-color: #f1f5f8;
}

.table {
  background-color: white;
}
